@charset "UTF-8";
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../font/NotoSansKR-Light.woff2) format('woff2'),
    url(../font/NotoSansKR-Light.woff) format('woff'),
    url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face{
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:400;
    src:url(../font/NotoSansKR-Regular.woff2) format('woff2'),
    url(../font/NotoSansKR-Regular.woff) format('woff'),
    url(../font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),
    url(../font/NotoSansKR-Medium.woff) format('woff'),
    url(../font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(../font/NotoSansKR-Bold.woff2) format('woff2'),
    url(../font/NotoSansKR-Bold.woff) format('woff'),
    url(../font/NotoSansKR-Bold.otf) format('opentype');
}

/* reset */
html, body{height:100%;-webkit-text-size-adjust:none;font-size: 10vw}
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul, figure{padding:0;margin:0;}
body,h1,h2,h3,h4,th,td,input,select,textarea,button{font-size:12px;font-weight:400;color:#222;font-family:'Noto Sans KR',sans-serif;line-height:1.5}
iframe{border:0 none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
dl,ul,ol,menu,li {list-style:none}
input,select,button{vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button, input{border:0 none;border-radius:0;box-shadow:none;background:none;-webkit-appearance:none;}
a{color:#222;text-decoration:none;}
a:hover, a:active{color:#222;text-decoration:none}
button,a{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;outline:0;}
legend, caption span,.blind{overflow:hidden;position:absolute;top:0;left:auto;clip:rect(0,0,0,0);width:1px;height:1px;padding:0;border:0}
select {-webkit-appearance:none;appearance:none;border:none;outline:none;background-image:url(../images/common/select.png);background-repeat:no-repeat;background-position: right center;background-size: 7px auto;}
::-webkit-input-placeholder {font-size: 14px;color: #999;} /* WebKit browsers */
:-moz-placeholder {font-size: 14px;color: #999;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {font-size: 14px;color: #999;}/* Mozilla Firefox 19+ */
:-ms-input-placeholder {font-size: 14px;color: #999;}/* Internet Explorer 10+ */

/* sp */
.header .btn_f5 span,.header .btn_back span{overflow:hidden;display:inline-block;background-image:url(../images/common/sp_common.png);background-repeat:no-repeat;background-size:46px 43px;text-indent:-9999px;vertical-align:top}

/* form */
input[type='text'],input[type='date'], input[type='password'],input[type='tel'],input[type='email'],input[type='number']{position: relative;box-sizing:border-box;border:none;border-radius:0px;font-weight:400;font-size:12px;-webkit-appearance:none;background-color:transparent}

/* layout */
body.bg_on{background-color:#f2f2f2}
.contents{min-height:100%}
.contents_h{min-height:100%;padding-bottom:82px}
.contents_h2{min-height:100%;padding-bottom:104px}
.section{position:relative;border-bottom:10px solid #ededed}
.section:before{content:'';position:absolute;left:0;bottom:-1px;width:100%;height:1px;background-color:#e8e8e8}
.section:last-child{border-bottom:none}
.section:last-child:before{content:none}
.section.brbn {border-bottom:none;}
.section.brbn:before {display: none;}
.section_inner{padding:0 16px 20px}
.section_inner2{padding:16px}
.section_title{padding:16px 0 10px;font-weight:500;font-size:16px}

/* header */
.wrap {min-height:100%;padding-top: 45px;}
.wrap.noheader {padding-top: 0px;}
.header{position:fixed;left:0;top:0; z-index: 1;width: 100%;background-color: #fff;border-bottom:1px solid #dfdfdf}
.header .page_title{font-weight:500;font-size:18px;text-align:center;line-height:45px}
.header .btn_back{position:absolute;left:0;top:0;padding:14px 16px}
.header .btn_back span{width:10px;height:18px;background-position:0 0}
.header .btn_f5{position:absolute;right:0;top:0;z-index:10;padding:14px 16px}
.header .btn_f5 span{width:17px;height:17px;background-position:-23px 0}

.main_header{border-bottom:none;background-color:#8997b2}
.main_header .page_title{color:#fff}
.main_header .btn_back{position:absolute;left:0;top:0;padding:14px 16px}
.main_header .btn_back span{width:10px;height:18px;background-position:-12px 0}

/* button */
.btn_wrap{padding:0 16px}
.btn_fixed{position:fixed;left:0;right:0;bottom:0;}
.btn_multi_box{display:block;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex}
.btn_multi_box a,.btn_multi_box button{position:relative;-webkit-box-flex:1;-webkit-flex:1;-moz-flex:1;-ms-flex:1;flex:1}
.btn_cancel{border-radius:4px;background-color:#bbb;color:#fff;font-size:15px;line-height:44px}
.btn_confirm{border-radius:4px;background-color:#eb1c24;color:#fff;font-size:15px;line-height:44px}
.btn_point_more{display:block;border-radius:4px;background-color:#eb1c24;color:#fff;font-size:15px;text-align:center;line-height:44px}
.btn_point_more:hover, .btn_point_more:active{color:#fff;}
.btn_point_pay{display:block;border-radius:4px;background-color:#eb1c24;color:#fff;font-size:15px;text-align:center;line-height:44px;margin-top: 20px;}
.btn_point_pay:hover, .btn_point_more:active{color:#fff;}
.btn_point_use{display:block;border-radius:4px;background-color:#bbb;color:#fff;font-size:15px;text-align:center;line-height:44px}
.btn_point_save{display:block;border-radius:4px;background-color:#eb1c24;color:#fff;font-size:15px;text-align:center;line-height:44px}
.btn_bomb_popout{display:block;margin-bottom:20px;border-radius:4px;background-color:#eb1c24;color:#fff;font-size:15px;text-align:center;line-height:44px}
.btn_gather_more{display:block;width:140px;margin:-8px auto 20px;border:1px solid #ccc;background-color:#fff;color:#666;font-size:14px;text-align:center;line-height:28px}
.btn_cancel + .btn_confirm{margin-left:4px}
.point_transform_wrap .top_title + .btn_multi_box{margin-top:30px}
.btn_point_more + .btn_point_use{margin-top:6px}
.top_title + .btn_point_more{margin-top:40px}
.btn_point_save + .btn_point_use{margin:6px 0 20px}
.bomb_list + .btn_bomb_popout{margin-top:20px}

.caution_wrap{padding: 10px 0 0;}
.caution_wrap dt{font-size: 13px;color: #222;padding-bottom: 5px;}
.caution_wrap dd{position: relative;font-size: 11px;padding-left: 8px;color: #666;}
.caution_wrap dd:before{content:'';position: absolute;left: 2px;top: 6px;width: 3px;height: 3px;background: url(../images/common/bu_dot.png);background-size: 3px 3px}

.passwrod_wrap{background: #fef2f2;padding: 15px 0 0 15px;position: relative;height: 75px;}
.passwrod_wrap:before{content:'';position: absolute;right: 0;bottom: 0;width: 79px;height: 80px;background: url(../images/common/bg_tip.png);background-size: 79px 80px}

.passwrod_wrap .tit{font-size: 12px;font-weight: 500;color: #222;}
.passwrod_wrap .cont_text{font-size: 10px;font-weight: 300;color: #222;}
.passwrod_wrap .btn_view{font-size: 10px;font-weight: 400;color: #eb1c24;}
.passwrod_wrap .btn_view:after{content:'';display:inline-block;width:5px;height:9px;margin:5px 0 0 4px;background:url(../images/clippoint/arrow_view3.png);background-repeat: no-repeat; background-size:4.5px auto;vertical-align:top}

/* popup */
.layer_pop_wrap{display: none; position:fixed;left:0;right:0;top:0;bottom:0;z-index:250}
.layer_pop_wrap .deem {position:fixed;left:0;top:0;bottom:0;width:100%;background:rgba(0,0,0, 0.7);z-index:60}
.layer_pop_wrap .layer_pop{position:absolute;left:0;right:0;top:50%;z-index:70;margin:-105px 10px 0;padding:0 20px 20px;background-color:#fff}
.layer_pop_wrap .layer_pop .lp_hd{border-bottom:1px solid #dadada;line-height:40px;text-align:center}
.layer_pop_wrap .layer_pop .lp_hd .title{display:block;font-weight:500;}
.layer_pop_wrap .layer_pop .lp_hd .title img.sinhancard {height: 18px; vertical-align: middle;}
.layer_pop_wrap .layer_pop .lp_ct .point_tf_cont{padding:16px 10px 0}
.layer_pop_wrap .layer_pop .lp_ct .point_tf_cont .ex_txt {font-size: 14px;}
.layer_pop_wrap .layer_pop .lp_ct .point_tf_cont .ex_txt strong {display: block;}
.layer_pop_wrap .layer_pop .lp_ct .point_tf_cont .ex_txt p {position:relative;padding-left:10px}
.layer_pop_wrap .layer_pop .lp_ct .point_tf_cont .ex_txt p span{position:absolute;left:0;top:-3px;}

.layer_pop_wrap.pop_point .layer_pop {margin:-159px 10px 0;}
.layer_pop_wrap.pop_point .layer_pop .lp_hd {position:relative}
.layer_pop_wrap.pop_point .layer_pop .lp_hd:after{content:'';display:block;clear:both}
.layer_pop_wrap.pop_point .layer_pop .lp_hd .title{float:left;display: inline-block;height:34px;margin-top:10px;line-height:34px;text-align:left}
.layer_pop_wrap.pop_point .layer_pop .lp_hd .title  img {width:50%}
.layer_pop_wrap.pop_point .layer_pop .lp_hd span {float:right;font-size: 14px;color: #666;display: inline-block;line-height:55px}

.layer_pop_wrap.pop_bomb .layer_pop{margin-top:-232px}
.layer_pop_wrap.pop_bomb .layer_pop .lp_hd {padding:10px 0;text-align:left}
.layer_pop_wrap.pop_bomb .layer_pop .lp_hd:after{content:'';display:block;clear:both}
.layer_pop_wrap.pop_bomb .layer_pop .lp_hd .title{display:inline-block;width: 50px;height:50px}
.layer_pop_wrap.pop_bomb .layer_pop .lp_hd .title img {width: 100%;}
.layer_pop_wrap.pop_bomb .layer_pop .lp_hd span{display:inline-block;margin:3px 0 0 7px;font-weight:700;font-size:14px;vertical-align:top}

.layer_pop_wrap.pop_default .layer_pop {margin:-159px 30px 0;}
.layer_pop_wrap.pop_default .layer_pop .lp_hd .title {text-align: left;font-size: 14px}
.layer_pop_wrap.pop_default .layer_pop .lp_ct .point_tf_cont{padding:16px 10px 0}
.layer_pop_wrap.pop_default .layer_pop .lp_ct .point_tf_cont .ex_txt {font-size: 14px}
.layer_pop_wrap.pop_default .layer_pop .lp_ct .point_tf_cont .ex_txt strong {display: block;}

.layer_pop .lp_ct .point_tf_cont{padding:20px 24px 0}
.layer_pop .lp_ct .point_tf_cont:after{content:'';display:block;clear:both}
.layer_pop .lp_ct .point_tf_cont .txt{font-size: 13px;}
.layer_pop .lp_ct .point_tf_cont .cash{float:right;margin-top:-4px;font-weight:600;font-size:18px}
.layer_pop .lp_ct .point_tf_cont .cash span{font-weight:400}
.layer_pop .lp_ct .point_tf_cont .ip_point_box{clear:both;position:relative;width:200px;margin:0 auto;padding:9px 15px 0 0}
.layer_pop .lp_ct .point_tf_cont .ip_point_box input{width:100%;border-bottom:1px solid #eb1c24;font-weight:700;color:#eb1c24;font-size:24px;text-align:center}
.layer_pop .lp_ct .point_tf_cont .ip_point_box span{position:absolute;right:0;bottom:2px;color:#eb1c24;font-size:18px}
.layer_pop .lp_ct .point_tf_cont .ip_point_box .btn_init {display: none;position: absolute;right:14px;top:24px; width: 14px;height: 14px;font-size: 0; background:url(../images/common/btn_init.png) no-repeat;background-size: 14px auto;}
.layer_pop .lp_ct .point_tf_cont .ip_point_box ::-webkit-input-placeholder {font-weight: 300;height: 37px;line-height: 37px;} /* WebKit browsers */
.layer_pop .lp_ct .point_tf_cont .ip_point_box :-moz-placeholder {font-weight: 300;height: 37px;line-height: 37px;} /* Mozilla Firefox 4 to 18 */
.layer_pop .lp_ct .point_tf_cont .ip_point_box ::-moz-placeholder {font-weight: 300;height: 37px;line-height: 37px;}/* Mozilla Firefox 19+ */
.layer_pop .lp_ct .point_tf_cont .ip_point_box :-ms-input-placeholder {font-weight: 300;height: 37px;line-height: 37px;}/* Internet Explorer 10+ */
.layer_pop .lp_ct .point_tf_cont + .btn_multi_box{margin-top:23px}
.layer_pop .lp_ct .btn_lp_cancel{height:40px;border-radius:23px;border:1px solid #eb1c24;color:#eb1c24;font-size:15px}
.layer_pop .lp_ct .btn_lp_confirm{height:40px;margin-left:4px;border-radius:23px;background-color:#eb1c24;color:#fff;font-size:15px}
/* p.popup_main.html */
.layer_pop_wrap.pop_main .layer_pop{position:absolute;left:0;right:0;top:52px;margin:0;padding:0;background:none;text-align:center}
.layer_pop_wrap.pop_main .layer_pop .title{color:#fff;font-size:24px;line-height:1.3333}
.layer_pop_wrap.pop_main .layer_pop .title span{font-weight:bold}
.layer_pop_wrap.pop_main .layer_pop .cont{margin-top:80px}
/* .layer_pop_wrap.pop_main .layer_pop .cont .btn_lp_confirm{width:288px;height:40px;margin-top:-4px;border-radius:23px;background-color:#eb1c24;color:#fff;font-size:15px} */
/* .layer_pop_wrap.pop_main .layer_pop .cont .btn_lp_confirm{width:288px;height:40px;margin-top:-4px;border-radius:23px;background-color:#FFC314;color:#fff;font-size:15px} */
.layer_pop_wrap.pop_main .layer_pop .cont .btn_lp_confirm{width: 288px; margin-top: 15px }

.layer_pop_wrap.pop_main .layer_pop .cont .img_wrap{width:266px;margin:0 auto}
.layer_pop_wrap.pop_main .layer_pop .cont .img_wrap img{width:100%}
.layer_pop_wrap.pop_main .layer_pop .btn_lp_close{position:absolute;top:-36px;right:15px;width:14px;height:14px;background:url(../images/common/btn_lp_close.png) no-repeat;background-size:14px 14px}
.layer_pop_wrap.pop_main .layer_pop .chk_box{margin-top:15px}
.layer_pop_wrap.pop_main .layer_pop .chk_box label{position:relative}
.layer_pop_wrap.pop_main .layer_pop .chk_box label:before{content:"";display: inline-block;position:absolute;left:-23px;top:50%;width:15px;height:15px;margin-top:-8px;border: 1px solid #999}
.layer_pop_wrap.pop_main .layer_pop .chk_box label{margin-left:23px;font-size:12px;color: #fff;vertical-align: middle;cursor:pointer;}
.layer_pop_wrap.pop_main .layer_pop .chk_box input[type="checkbox"]:checked + label:after{content: '\2714';display: inline-block;position:absolute;left:-19px;top:0;color:#fff;font-size:12px}


/* 카드사 별 이미지 */
.card_name{display:inline-block}
.card_name img{width:100%}
.card_shihan{width:75px;height:14px}
.card_hana{width:71px;height:20px}
.card_kb{width:87px;height:15px}
.card_nh{width:88px;height:13px}
.card_lotte{width:102px;height:10px}
.card_bc{width:80px;height:14px}

/* 보기 */
.btn_view{display:block;color:#222;font-size:13px}
.btn_view:after{content:'';display:inline-block;width:5px;height:9px;margin:7px 0 0 4px;background:url(../images/clippoint/arrow_view2.jpg);background-repeat: no-repeat; background-size:4.5px auto;vertical-align:top}

/* 클립포인트메인*/
.point_maintop{position:relative;background-color:#8997b2}
.point_maintop:after{content:'';display:block;clear:both}
.point_maintop .main_bg{float:right;height:190px}
.point_maintop .inr_box{position:absolute;left:0;top:60px;width:100%}
.point_maintop .inr_box .title{display:block;color:#fff;font-size:15px;text-align:center}
.point_maintop .inr_box .point{display:block;margin-top:-6px;color:#fff;font-size:34px;text-align:center}
.point_maintop .inr_box .bot{margin:13px 16px 0;padding:15px 7px 0;border-top:1px solid #737f95}
.point_maintop .inr_box .bot:after{content:'';display:block;clear:both}
/* .point_maintop .inr_box .bot span{float:left;color:#353b46;font-size:14px} */
.point_maintop .inr_box .bot span{float:left;color:#ffffff;font-size:12px}
.point_maintop .inr_box .bot .btn_onoff.on{color:#fff}
.point_maintop .inr_box .bot .btn_onoff{float:right;padding:3px 11px;border-radius:12px;background-color:#78869f;font-weight:500;color:#c9cfd9}
.point_maintop .inr_box .bot .btn_onoff:before{content:'';display:inline-block;width:10px;height:12px;margin-right:5px;background-image:url(../images/clippoint/ico_sc.png);background-repeat:no-repeat;background-position:-12px 0;background-size:22px 12px}
.point_maintop .inr_box .bot .btn_onoff.on:before{content:'';background-position:0 0}

.point_maintop .inr_box .bot .btn_lock{float:right; width: 140px; margin-top: -2px }
/* .point_maintop .inr_box .bot .btn_lock{float:right;padding:4px 4px;border-radius:12px;background-color:#78869f;font-weight:500;color:#ffffff;width: 170px}
.point_maintop .inr_box .bot .btn_lock:before{content:'';display:inline-block;width:15px;height:15px;margin-right:10px;background-image:url(../images/clippoint/ico_trans2.png);background-repeat:no-repeat;background-position:0px 2px;background-size:100%} */
/* .point_maintop .inr_box .bot .btn_lock{float:right;background-image:url(../images/clippoint/test.png);padding:3px 11px;background-repeat:no-repeat; border-radius:14px; background-size:cover} */


.info_list li {border-bottom: 1px solid #e8e8e8;padding: 15px 20px 20px 72px; position: relative;}
.info_list li:last-child {border-bottom:none;}
.info_list li:before {content: "";display: block;position: absolute;left:19px;top: 50%;margin-top: -15px; width: 31px;height: 30px; background-image:url(../images/clippoint/sp_main_20180823.png);background-repeat: no-repeat;background-size: 82px auto;}
/* .info_list li:nth-child(1):before {background-position: 0 0;}
.info_list li:nth-child(2):before {background-position: 0 -30px;}
.info_list li:nth-child(3):before {background-position: 0 -60px;}
.info_list li:nth-child(4):before {background-position: 0 -90px;}
.info_list li:nth-child(5):before {background-position: 0 -120px;} */
.info_list li strong {display: block;font-size: 16px;font-weight: 500;margin-bottom: 2px;}
.info_list li strong i {font-size: 12px;color: #ed1c24;}
.info_list li em {display: block;font-size: 12px;color: #888;}
.ad_area img {display: block; width: 100%;margin-bottom: 1px;}
.ad_area img:last-child {margin-bottom:none;}

.ad_areaslider_wrap{position:fixed;left:0;bottom:0;width:100%}
.ad_area_slider{position:relative}
.ad_area_slider .ad_area_list li a{display:block}
.ad_area_slider .ad_area_list li img{width:100%;}
.ad_area_slider .pagination_n{position:absolute;left:0;bottom:0;z-index:50;text-align:center}
.ad_area_slider .pagination_n .swiper-pagination-bullet{width:6px;height:6px;margin:0 2px 0 3px;border-radius:100%;background-color:#000;vertical-align:top;opacity:0.2}
.ad_area_slider .pagination_n .swiper-pagination-bullet-active{background: #eb1c24;box-shadow:none;opacity:1}

.info_list.type_uselist li:before {content: "";margin-top: -15px; width: 33px;height: 30px; background-image:url(../images/clippoint/sp_main_20180823.png);background-repeat: no-repeat;background-size: 82px auto;}
.info_list.type_uselist li:nth-child(1):before {background-position: -33px -4px;}
.info_list.type_uselist li:nth-child(2):before {background-position: -33px -36px;}
.info_list.type_uselist li:nth-child(3):before {background-position: -33px -100px;}
.info_list.type_uselist li:nth-child(4):before {background-position: 0px -185px;}

/* 포인트 적립 */
.point_two_wrap{position:relative}
.point_two_wrap .point_two_box{position:relative;padding:13px 0;border-radius:4px;background-color:#666}
.point_two_wrap .point_two_box:after{content:'';display:block;clear:both}
.point_two_wrap .point_two_box:before{content:'';position:absolute;left:50%;top:50%;width:1px;height:40px;margin-top:-20px;background-color:#858585}
.point_two_wrap .point_two_box .inr{float:left;width:50%;text-align:center}
.point_two_wrap .point_two_box .tit{color:#fff;font-size:13px}
.point_two_wrap .point_two_box .cash{display:block;margin-top:-4px;font-weight:700;color:#fff;font-size:20px}
.point_two_wrap .point_two_box .cash span{font-weight:400}
.point_two_wrap .point_two_box.type_color{position:relative;background-color:#ededed}
.point_two_wrap .point_two_box.type_color .tit{color:#222}
.point_two_wrap .point_two_box.type_color .cash{color:#222}
.point_two_wrap .btn_view{position:absolute;right:0;top:22px}
.card_point_box + .point_two_wrap{margin-top:15px}

/** 클립포인트 **/
.clippoint_top_title{padding:16px 0;background-color:#f2f2f2;color:#888;font-size:13px;text-align:center;line-height:16px}
.clippoint_box{display:block;padding:19px 16px;background-color:#fff}
.clippoint_box:after{content:'';display:block;clear:both}
.clippoint_box .title{float:left;margin-top:8px;color:#222;font-size:17px}
.clippoint_box .title:before{content:'';display:inline-block;width:16px;height:13px;margin-right:5px;background:url(../images/clippoint/ico_clippoint.jpg);background-size:16px 13px}
.clippoint_box .point{float:right;color:#eb1c24;font-size:28px}
.clippoint_box .point:after{content:'';display:inline-block;width:7px;height:12px;margin:16px 0 0 10px;background:url(../images/clippoint/arrow_view.jpg) no-repeat 0 0;background-size:7px 12px;vertical-align:top}
.clippoint_box .point span{font-weight:400}
.clippoint_box .point #mypoint{font-weight: bold;}

/** 2017.11.03 jyi 쇼핑적립 당월 적립 예정 포인트 **/
.clippoint_box .sub_point{display:inline-block;float:right;font-size:15px;clear:both;}
.clippoint_box .sub_point span{font-weight:400}
.clippoint_box .sub_point #mypoint{font-weight: bold;}

.card_point_box{position:relative;margin-top:5px;padding:14px;border-radius:4px;border:1px solid #ddd;text-align:right}
.card_point_box:first-of-type{margin-top:0}
.card_point_box:after{content:'';display:block;clear:both}
.card_point_box .card_name_box{float:left}
.card_point_box .card_name_box .card_name{display:block}
.card_point_box .card_name_box .card_name.card_lotte{top:18px}
.card_point_box .card_name_box .exp_txt{display:block;color:#888;margin-top:4px}
.card_point_box .point_area{float:right;margin-top:-4px}
.card_point_box .point_area .inr_top{line-height:15px}
.card_point_box .point_area .tit{display:block;font-size:13px;margin:0 0 6px 49px}
.card_point_box .point_area .cash{display:block;font-weight:700;font-size:18px;margin-bottom: 14px;}
.card_point_box .point_area .cash span{font-weight:400}
.card_point_box .point_area .inr_bot{margin-top:8px}
.card_point_box .point_area .inr_bot .ip_point_box{position:relative;margin-top:-10px;padding-right:11px;}
.card_point_box .point_area .inr_bot .ip_point_box input{width:100%; border-bottom:1px solid #eb1c24;font-weight:700;color:#eb1c24;font-size:22px;text-align:right;margin-right: 5px;}
.card_point_box .point_area .inr_bot .ip_point_box em{display: block; width:100%; border-bottom:1px solid #eb1c24;font-weight:700;color:#eb1c24;font-size:22px;text-align:right;margin-right: 5px;}
.card_point_box .point_area .inr_bot .ip_point_box span{position:absolute;right:-5px;top:0;color:#eb1c24;font-size:22px}
.card_point_box .btn_srh{padding:2px 23px;border-radius:4px;border:1px solid #ccc;color:#222;font-size:13px}
.card_point_box .btn_srh:before{content:'';display:inline-block;width:12px;height:12px;margin:4px 2px 0 0;background:url(../images/clippoint/ico_srh.jpg);background-size:12px 12px;vertical-align:top}

.point_transform_wrap .top_title{margin-top:30px;font-size:20px;text-align:center;line-height:24px}
.point_transform_wrap .top_title .point{color:#eb1c24;font-size:20px}
.point_transform_wrap .top_title .point span{font-weight:400}
.point_transform_wrap .tit{font-size:13px}
.point_transform_wrap .cont_text{margin-top:4px;color:#666;font-size:11px;line-height:15px}
.point_transform_wrap .btn_view{display:block;margin-top:3px}
.point_transform_wrap .btn_multi_box + .tit{display:block;margin-top:20px}

.point_info {font-size: 11px;color: #666;margin-top: 18px;}
.point_info + .point_info{margin-top:4px}
.point_transform_wrap .point_transform_list {border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;padding:20px 10px;margin: 30px 0;}
.point_transform_wrap .point_transform_list li {margin-bottom: 12px;}
.point_transform_wrap .point_transform_list li:last-child {margin-bottom: 0px;}
.point_transform_wrap .point_transform_list li .card_name {float:left;display: block;width: 40%;}
.point_transform_wrap .point_transform_list li .card_name img {vertical-align: middle;}
.point_transform_wrap .point_transform_list li .card_name.card_shihan{width:80px;height:14px}
.point_transform_wrap .point_transform_list li .card_name.card_hana{width:71px;height:20px}
.point_transform_wrap .point_transform_list li .card_name.card_kb{width:87px;height:15px}
.point_transform_wrap .point_transform_list li .card_name.card_bc{width:80px;height:14px}
.point_transform_wrap .point_transform_list li strong {float:right;display: block;width: 60%;text-align: right;font-size: 16px;color: #eb1c24;}
.point_transform_wrap .point_transform_list li strong i {font-weight: 400;}
.point_transform_wrap .point_transform_list li em {float:right;display: block;width: 60%;text-align: right;font-size: 14px;color: #eb1c24;}
.point_transform_wrap .point_transform_list li em button {display: inline-block; width: 14px;height: 14px;margin:-2px 0 0 5px;background:url(../images/common/btn_init2.png) no-repeat;background-size: 14px auto;vertical-align: middle;text-indent:-9999px}
.point_transform_wrap .point_transform_list li:after{content:'';display:block;clear:both}

.point_list_wrap{position:relative;padding-top:30px}
.point_list_wrap .btn_view{position:absolute;right:0;top:0}
.point_list:after{content:'';display:block;clear:both}
.point_list li{float: left;width: 50%;}
.point_list li a{display: block;position: relative;padding: 5px;margin-bottom: 4px;border: 1px solid #e8e8e8;border-radius: 10px;}
.point_list li:nth-child(odd) a{margin-right: 2px;}
.point_list li:nth-child(even) a{margin-left: 2px;}
.point_list li a img{width: 100%;}
.point_list li a span{position: absolute;bottom: 10%;left: 0;width: 100%;font-weight:400;font-size: 12px;font-size:3.75vw;text-align: center;color: #666;}

.earn_area {background-color: #f2f2f2;padding:0 16px 16px;}
.earn_area .earn_search {padding:9px 5px 11px;}
.earn_area .earn_search select {font-size: 14px;min-width: 77px;background-color: transparent;}
.earn_area .earn_search span {float: right;}
.earn_area .earn_search span button {display: inline-block;font-size: 14px;color: #888;}
.earn_area .earn_search span button.on {color: #eb1c24;}
.earn_area .earn_search span button:before{content: "";display: inline-block;width: 1px;height: 10px;margin:-3px 8px 0 4px; background-color: #ccc; vertical-align: middle;}
.earn_area .earn_search span button:first-child:before {display: none;}
.earn_area .earn_search:after{content:'';display:block;clear:both}
.earn_area .earn_list{margin-top:3px}
.earn_area .earn_list li {background-color: #fff;padding:12px 15px 8px;margin-bottom:3px;}
.earn_area .earn_list li:last-child {margin-bottom:0px;}
.earn_area .earn_list li .tit_point {position: relative;padding-right: 117px;margin-bottom: 6px;}
.earn_area .earn_list li .tit_point strong {font-size: 14px;font-weight:400;height: 22px;line-height: 1.4; overflow: hidden;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;text-overflow: ellipsis;white-space:normal;}
.earn_area .earn_list li .tit_point em {display: block;width: 100px;text-align: right; position: absolute;right:0;top: 0;font-size: 16px;font-weight: 600;}
.earn_area .earn_list li .tit_point em.plus {color: #eb1c24;}
.earn_area .earn_list li .tit_point em.minus {color: #222;}
.earn_area .earn_list li .tit_point em i {font-weight: 400;}
.earn_area .earn_list li .date {font-size: 12px;position: relative;}
.earn_area .earn_list li .date span {color: #888;}
.earn_area .earn_list li .date em {display: block;position: absolute;right:0;top: 0;color: #666;}
.earn_area .earn_nolist {padding:50px 0 25px;text-align: center;font-size: 15px;color: #666;}
.earn_area .earn_nolist:before {content: "";display: block;width: 125px;height: 112px;margin:0 auto 16px; background-image:url(../images/clippoint/earn_nolist.png);background-repeat:no-repeat;background-size: 125px auto;}
.earn_area .earn_nolist i {color: #eb1c24;}

/* 쇼핑 적립 이용 내역 */
.earn_tab {border-bottom: 1px solid #dfdfdf;background-color:#fff;position: relative;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex}
.earn_tab li {height: 43px;line-height: 43px;text-align: center;font-size: 15px;color: #888;-webkit-box-flex:1;-webkit-flex:1;-moz-flex:1;-ms-flex:1;flex:1}
.earn_tab li.active {color: #ed1c24;font-weight: 600;}
.earn_tab li.active:after {content: "";display: block;margin-top: -1px; border-bottom: 2px solid #ed1c24;}
.earn_tab:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.earn_tab.jbFixed{position:fixed;top:45px;left:0;width:100%;z-index:100}
.earn_tab li .plus{display: inline-block;margin-left: 5px;vertical-align: -4px;width: 19px;height: 19px;background-image:url(../images/common/bg_tab_p.png);background-repeat:no-repeat;background-size: 19px auto;}
.earn_tab li .minus{display: inline-block;margin-left: 5px;vertical-align: -4px;width: 19px;height: 19px;background-image:url(../images/common/bg_tab_m.png);background-repeat:no-repeat;background-size: 19px auto;}

.earn_tab_area {background-color: #f2f2f2;padding:16px;}
.earn_tab_area.type_other{padding-top:0;padding-bottom:0;background-color:#fff}
.earn_tab_area.pdn{padding:0}
.earn_tab_area .earn_list li {background-color: #fff;padding:8px 15px 8px;margin-bottom:3px;}
.earn_tab_area .earn_list li:last-child {margin-bottom:0px;}
.earn_tab_area .earn_list li .price {position: relative;padding-right: 117px;margin-bottom: 3px;}
.earn_tab_area .earn_list li .price span {font-size: 14px;font-weight:500;}
.earn_tab_area .earn_list li .price em {display: block;font-size: 16px;position: absolute;right:0;top: -2px;}

.earn_tab_area .earn_list li .point {font-size: 12px;position: relative;}
.earn_tab_area .earn_list li .point span {color: #888;}
.earn_tab_area .earn_list li .point em {display: block;width: 100px;text-align: right; position: absolute;right:0;top: 0;font-size: 12px;font-weight: 600;}
.earn_tab_area .earn_list li .point em.plus {color: #eb1c24;}
.earn_tab_area .earn_list li .point em.minus {color: #222;}
.earn_tab_area .earn_list li .point em i {font-weight: 400;}
.earn_tab_area .earn_nolist {padding:50px 0 25px;text-align: center;font-size: 15px;color: #666;}
.earn_tab_area .earn_nolist:before {content: "";display: block;width: 125px;height: 112px;margin:0 auto 16px; background-image:url(../images/clippoint/earn_nolist.png);background-repeat:no-repeat;background-size: 125px auto;}
.earn_tab_area .earn_nolist i {color: #eb1c24;}

.section .earn_tab.jbFixed + .earn_tab_area.type_other{padding-top:20px}

input[type='text'].coupon_number {width: 100%;text-align: center;border:1px solid #dadada;height: 48px;font-size:14px;line-height: 44px;margin-bottom: 20px;}
.info_txt_title{font-size:17px}
.info_txt{margin-top:11px}
.info_txt li { margin-bottom: 10px;}
.info_txt li strong {display: block;font-size: 14px;font-weight: 500;}
.info_txt li span {display: block;font-size: 13px;color: #666;}
.barcode_area{position:relative;text-align:center}
.barcode_area #barcode{max-width: 100% !important;}
.barcode_area svg{width: 100% !important;height:auto !important;}
.barcode_area img {width:100%}
.barcode_area .barcode_re{position:absolute;left:0;top:0;bottom:0;width:100%;background:rgba(255,255,255, 0.95);}
.barcode_area .barcode_re .inner{position:absolute;left:50%;top:50%;margin:-35px 0 0 -92px}
.barcode_area .barcode_re .inner p{font-size:16px}
.barcode_area .barcode_re .inner button{margin-top:8px;padding:7px 48px;border-radius:4px;border:1px solid #d71826;background-color:#fff;color:#d71826;font-size:15px}
.barcode_area .time{display:block;padding:15px 0 6px;color:#666;font-size:15px;text-align:center}
.barcode_area .time button{display: inline-block;width:14px;height: 14px;margin: -2px 0 0 5px;background: url(../images/common/btn_init2.png) no-repeat;background-size: 14px auto;vertical-align: middle;text-indent: -9999px;}
.barcode_on {display: none;}

/** 포인트폭탄 **/
.bomb_wrap{position:absolute;top:0;bottom:0;width:100%;background-image:url(../images/bomb/bomb_bg.gif);background-repeat:no-repeat;background-position:50% 50%;background-size:cover}
.bomb_wrap.other_bg{background-image:url(../images/bomb/bomb_bg.jpg);}
.bomb_wrap.nobg{background:none}
.bomb_wrap .fixed_top{position:fixed;top:45px;left:0;right:0}
.bomb_wrap .fixed_bot{position:fixed;bottom:0;left:0;right:0}
.bomb_wrap .bomb_top{text-align:center}
.bomb_wrap .bomb_top img.img_top_txt{width:276px;padding:29px 0 18px}
.bomb_wrap .bomb_touch{position:absolute;top:50%;left:50%;width:268px;height:238px;margin:-119px 0 0 -134px;text-align:center}
.bomb_wrap .bomb_touch .bomb_sb{position:absolute;top:50%;left:50%;width:111px;margin:-140px 0 0 -134px}
.bomb_wrap .bomb_touch .bomb_sb img{width:100%}

.bomb_wrap .bomb_touch{position:absolute;top:50%;left:50%;width:268px;height:228px;margin:-114px 0px 0 -134px;background-size:134px 114px}
.bomb_wrap .bomb_touch img{width:100%}
.bomb_wrap .bomb_touch .bomb_sb{position:absolute;top:50%;left:50%;width:111px;height:96px;margin:-114px 0 0 -134px;z-index:50}
.bomb_wrap .bomb_touch .btn_touch{position:absolute;top:50%;left:50%;width:143px;height:72px;margin:-6px 0px 0 -10px;z-index:50}
.bomb_wrap .bomb_touch .bomb{position:absolute;bottom:11px;left:50%;width:170px;height:171px;margin-left:-85px;z-index:30}
.bomb_wrap .bomb_touch .bomb_wick{position:absolute;top:50%;left:50%;width:50px;height:35px;margin:-87px 0px 0 41px;z-index:50}
.bomb_wrap .bomb_touch .bomb_wick2{position:absolute;top:50%;left:50%;width:79px;height:75px;margin:-126px 0px 0 53px;z-index:50}
.bomb_wrap .bomb_touch .bomb_shadow{position:absolute;top:50%;left:50%;width:150px;height:42px;margin:72px 0 0 -75px;z-index:10}
.bomb_wrap .bomb_touch .lv_txt{position:absolute;bottom:0;left:50%;width:250px;margin:0 0 -45px -125px;border:2px solid #eb1c24;border-radius:40px;background-color:#fff;font-weight:500;font-size:16px;line-height:31px}

.bomb_wrap .bomb_touch .btn_touch img{-webkit-animation:tm 1s infinite;animation:tm 1s infinite;}
.bomb_wrap .bomb_touch .bomb_wick2 img{-webkit-animation:ts 1s infinite;animation:ts 1s infinite;}

@-webkit-keyframes tm{50%{-webkit-transform:scale(1.2);transform:scale(1.2);}}
@keyframes tm{50%{-webkit-transform:scale(1.2);transform:scale(1.2);}}

@-webkit-keyframes ts{50%{-webkit-transform:rotate(30deg);transform:rotate(30deg);}}
@keyframes ts{50%{-webkit-transform:rotate(30deg);transform:rotate(30deg);}}

.bomb_wrap .bomb_tip{position:fixed;bottom:0;left:0;right:0}
.bomb_wrap .bomb_tip img{width:100%}
/* 결과 */
.bomb_wrap .bomb_win_box{position:absolute;top:50%;left:20px;right:20px;margin-top:-120px}
.bomb_wrap .bomb_win_box .inner{width:100%;padding:35px 0 95px;border:2px solid #000;border-radius:8px;background-color:#fff;background-image:url(../images/bomb/bomb_point_m.jpg);background-repeat:no-repeat;background-position:50% 100%;background-size:202px auto;box-sizing:border-box}
.bomb_wrap .bomb_win_box .win_txt{font-weight:500;color:#000;font-size:28px;line-height:31px;text-align:center}
.bomb_wrap .bomb_win_box .win_txt strong{color:#eb1c24;font-size:32px}
.bomb_wrap .bomb_win_box .win_txt strong span{font-weight:400}
.bomb_wrap .bomb_win_box .exp_point_box{margin-top:18px;text-align:center}
.bomb_wrap .bomb_win_box .exp_point_box .exp_point{font-weight:500;font-size:16px}
.bomb_wrap .bomb_win_box .exp_point_box .exp_point em{font-weight:700;color:#eb1c24}
.bomb_wrap .bomb_win_box .exp_point_box .exp_point em span{font-weight:400}
.bomb_wrap .bomb_win_box .ico_plus{display:inline-block;width:13px;height:13px;margin:0 5px;background-image:url(../images/bomb/ico_plus.jpg);background-repeat:no-repeat;background-position:0 0;background-size:13px 13px;text-indent:-9999px}
/* 오퍼웰 */
.img_bomb_ban{width:100%}

.bomb_top .img_bomb_ban{margin-top:45px}
.bomb_list + .btn_wrap{margin-top:20px}

.bomb_list li {position: relative;border-bottom: 1px solid #e8e8e8;padding: 10px 20px 10px 75px;}
.bomb_list li a{display:block;}
.bomb_list li i{position:absolute;left:16px;top:50%;width:50px;height:50px;margin-top:-25px}
.bomb_list li i img{width:100%}
.bomb_list li strong {display: block;font-size: 16px;font-weight: 500;margin-bottom: 2px;}
.bomb_list li p {display: block;margin-top:-4px;font-size: 12px;color: #888;}
.bomb_list li span {display:block;margin-top:-1px;color:#888;font-size:11px}

/* 룰렛 */
.roulette_wrap{background: url(../images/roulette/bg_rl.png) 0 0 no-repeat;background-size: cover;}
.roulette_wrap .tit{padding:40px 35px 35px;}
.roulette_wrap .tit img{width: 100%;}

.roulette_wrap .roultette{position: relative;padding:0 30px;}
.roulette_wrap .roultette img{width: 100%;}
.roulette_wrap .roultette:after{content: '';position: absolute;left: 50%;top: -6px;margin-left: -12px;width: 24px;height: 30px;background: url(../images/roulette/arrow_rl.png) 0 0 no-repeat;background-size:24px 30px;}
.roulette_wrap .roulette_footer{padding-top: 30px;}
.roulette_wrap .roulette_footer img{width: 100%;}

#resultDiv{position: fixed;top: 50%; margin-top: -165px;width: 100%}
#resultDiv .box{margin: 10px;background: #fff;padding:30px 20px 20px;text-align: center;}
.btn_rl_wrap{display:block;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex}
.btn_rl_wrap span{line-height: 40px;color: #eb1c24;border-radius: 40px;border: 1px solid #eb1c24;background: #fff;font-size: 15px;text-align: center;-webkit-box-flex:1;-webkit-flex:1;-moz-flex:1;-ms-flex:1;flex:1}
.btn_rl_wrap span:first-child{margin-right: 4px;}
.btn_rl_wrap span:last-child{margin-left: 4px;color: #fff;background: #eb1c24;}
#resultDiv .box .img{}
#resultDiv .box .img img{width: 150px;}
#resultDiv #resulText{padding:30px 0 20px;font-size: 14px;color: #222;}

/* 유의사항 */
.note_list{padding-top:12px}
.note_list dt{font-weight:500;font-size:13px}
.note_list dd{position:relative;margin-top:2px;padding-left:10px;color:#666;font-size:11px;word-break:keep-all}
.note_list dd span{position:absolute;left:0;top:0}

/* loading */
.loading{}
.loading img{position:absolute;left:50%;top:50%;z-index:100;width:54px;height:54px;margin:-27px 0 0 -27px}
